.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  color: #000000;
}

.header__title {
  margin: 80px 0 28px;
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title > span:last-child {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #000;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0 0 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
  object-fit: contain;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header__schedule {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
}

.header__address {
  max-width: 300px;
  text-align: right;
}
.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedule .header__paragraph {
  white-space: nowrap;
}
.header__address .header__paragraph {
  white-space: nowrap;
}
